:root {
    --blue0: #337bff;
    --blue1: #2d6de3;
    --blue2: #265cbf;
    --blue3: #193d80;
    --blue4: #0d1f40;
    --green0: #3cf084;
    --green1: #39e37c;
    --green2: #32c76d;
    --green3: #29a35a;
    --green4: #196337;
    --yellow0: #fbf54c;
    --yellow1: #e3de44;
    --yellow2: #c7c23c;
    --yellow3: #a39f31;
    --yellow4: #63611e;
    --orange0: #fc973f;
    --orange1: #e38839;
    --orange2: #d68136;
    --orange3: #b06a2c;
    --orange4: #70431c;
    --purple0: #ff40c4;
    --purple1: #e639af;
    --purple2: #bf3092;
    --purple3: #802061;
    --purple4: #401031;
    --black0: #ffffff;
    --black1: #f6f7f9;
    --black2: #e9edf0;
    --black3: #d9e1e4;
    --black4: #cbd4d9;
    --black5: #b1bcc2;
    --black6: #929fa5;
    --black7: #6b7880;
    --black8: #556066;
    --black9: #2c3437;
    --black10: #1f272a;
    --black11: #515c62;
    --black12: #505d65;
}

body {
    margin: 0;

    a {
        color: var(--green0);
    }
}
