.presentation {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.presentation img {
    border: solid 2px var(--brand4);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.social h2 {
    color: var(--brand5);
}

.ukraine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-image: url('/ukraine.jpg');
    background-size: contain;
    padding: 1rem;
    border-radius: 1rem;

    a:hover {
        color: var(--info6);
    }
}
