.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--black5);

    .right {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    a {
        color: var(--green0);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
