.project{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--black4);
    color: var(--black9);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    gap : 1rem;
}
.text{
    width: 20rem;
}

.project img{
    width: 20rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 850px){
    .project{
        flex-direction: column;
        align-items: flex-start;
    }
    .text{
        width: 100%;
    }
    .project img{
        width: 100%;
    }
}