.presentation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.presentation img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid 2px var(--brand4);
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

}
.social h2{
  color: var(--info5);
}