.body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
    min-height: 100vh;
}

.header{
    grid-area: header;
    z-index: 1;
    display: flex;
    gap: 10px;
    border-bottom: solid 1px var(--dark-color);
    background-color: var(--primary-color);
    padding: 1rem;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 60%;
    min-width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 600px){
    .main{
        max-width: 100%;
        min-width: 100%;
    }
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main a{
    color: var(--secondary-color);    
}
.main a:hover{
    color: var(--brand4);
    text-decoration: underline;    
}